
@font-face {
    font-family: 'Aaargh';
    src: url('fonts/Aaargh.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Aaargh';
	font-size: 18px;
}

/* leave in styles for testing
***************************************/
#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}
/****************************************
end panel */


/* begin navigation
***************************************/
.icon-bar {
	background: #56a0d3;
	margin-top: 0;
}

@media screen and (min-width: 642px) {
	.icon-bar {
		float: left;
		width: 89px;
	}
}

@media screen and (max-width: 641px) {
	.icon-bar {
		background: #56a0d3;
		width: 100%;
		height: auto;
	}
	.item > label {
		display: none;
	}
}

.icon-bar > * {
  padding: 15px;
}

.icon-bar > .logoDiv {
  padding: 10px;
}

#logo {
	width: 90px;
	height: 80px;
}

@media screen and (max-width: 641px) {
	#logo {
		width: 70px;
		height: 55px;
	}
	.icon-bar {
		margin-bottom: -4px;
	}
	.icon-bar > * {
	  padding: 20px 15px;
	}
}

/****************************************
end navigation */


/* begin misc
***************************************/
#map-canvas {
	height: 100%;
	z-index: 10;
}

.main {
	height: 100%;
	margin-left: 90px;
	margin-right: -100px;
}

@media screen and (max-width: 641px) {
	.main {
		margin-left: 0;
	}
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

/****************************************
end misc */

#demo {
	margin: 10px;
}



