

html, body {
	margin: 0px;
	padding: 0px;
}

#map-canvas {
	height: 100%;
}

/* leave in for testing pages styles */
#panel {
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

#logo {
	position: absolute;
	width: 100px;
	top: 15px;
	left: 10px;
	z-index: 12;
}

@media screen and (min-width: 642px) {
	h2, table {
		margin-left: 120px;
	}
}

@media screen and (max-width: 641px) {
	#logo{
		width: 
	}
	.icon-bar {
		margin-top: -3px;
	}
	#logo {
		width: 65px;
		top: 18px;
		left: 20px;
	}

}

.icon-bar {
	background: #56a0d3;
}

.icon-bar.medium-vertical, .icon-bar.large-vertical {
	float: left;
}

.main {
	display: inline;
}





